<ul class="navbar-nav mt-5 text-right">
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to('Logout', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'btn btn-primary btn-lg') %>

    </li>
  <% elsif admin_user_signed_in? %>
    <li class="nav-item">
      <%= link_to('Logout', destroy_admin_user_session_path, method: :delete, data: { turbo: false }, class: 'btn btn-primary btn-lg') %>
    </li>
  <% elsif doctor_signed_in? %>
    <li class="nav-item">
      <%= link_to('Logout', destroy_doctor_session_path, method: :delete, data: { turbo: false }, class: 'btn btn-primary btn-lg') %>
    </li>
  <% end %>
</ul>